button {
  width: 100%;
  border-radius: 128px;
  background: #303b59;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  padding: 1rem;
}

button:hover {
  background: var(--Gradient-1, linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%));
}
